body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
  }
  
  .left-column, .right-column {
    width: 50%;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 170px;
  }
  
  .left-section, .right-section {
    background-color: #ffffff;
    width: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .left-section input.form-control,
  .right-section input.form-control {
    width: calc(100% - 20px); /* Set it to 100% minus padding for better aesthetics */
    padding: 10px; /* Add padding for better aesthetics */
  }
  
  .btn-primary {
    width: 95%;
  }
  
  .user-card {
    margin-bottom: 20px;
    background: #EAECFF;
    border: 1px solid #ddd;
    padding: 20px;
    position: relative;
    border-radius: 10px;
  }
  
  .user-card-number {
    position: absolute;
    top: 5px;
    right: 5px;
    background: #0500FF;
    color: #fff;
    border-radius: 48%;
    height: 20px;
    text-align: center;
    padding: 0px 6px;
  }
  
  .user-card-content {
    margin-top: 10px;
  }
  
  .user-card-id-container {
    background-color: #ffffff;
    padding: 10px;
  }
  
  .user-card-id {
    font-size: 16px;
    color: black; /* Add this line to set text color to black */
  }
  
  .user-card-id-inner {
    background-color: #ffffff;
    color: #010101;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
  }
  #second {
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
    display: block;
    width: 40%;
    margin-left: 220px;
    float: right;
  }
  